- player = local_assigns.fetch(:player, nil)
- game = local_assigns.fetch(:game, nil)
- if player
  - player.hand.each do |card|
    %image.small.img-fluid.hand-card{ id: card.id,
      src: image_path("cards/#{card}.svg"),
      draggable: !player.ready?.to_s,
      'data-action': stimulus_actions(dragstart: 'games#registerElement', click: ('games#selectCard' if player == game.current_player)) }