- orientation = local_assigns.fetch(:orientation, nil)
- player = local_assigns.fetch(:player, nil)

-if player
  - if player.visible_cards.any?
    - player.visible_cards.each_with_index do |card, index|
      %image{ id: card.id,
        class: orientation,
        style: "--index: #{index}",
        src: image_path("cards/#{card}.svg"),
        alt: card.to_s,
        'data-action': (stimulus_actions(dragover: 'games#allowDrop', drop: 'games#swapTableCard') unless player.ready?) }
  - else
    - 3.times do |index|
      - card_exist = !player.blind_cards[index].nil?
      %image{ src: image_path("cards/#{card_exist ? 'back' : 'transparent'}.svg"),
        class: orientation,
        style: "--index: #{index}",
        alt: 'face-down',
        'data-index': index,
        'data-action': stimulus_actions(click: ('games#takeBlindCard' if card_exist)) }
