- orientation = local_assigns.fetch(:orientation, nil)
- game = local_assigns.fetch(:game, nil)
- player = local_assigns.fetch(:player, nil)

- position = { left: '90deg', top: '0deg', right: '-90deg', bottom: '0deg' }
- degree = position[orientation]

-if player
  .rotate{style: "--rotation: #{degree}"}
    .row.justify-content-center.table-cards.d-flex
      - player.visible_cards.each do |card|
        %image.small.img-fluid{ id: card.id,
          src: image_path("cards/#{card}.svg"),
          'data-action': ('dragover->games#allowDrop drop->games#swapTableCard' unless player.ready?) }
    .row.justify-content-center
      %h4{ class: ( 'turn-mark' if game.current_player == player) }
        = player.name
