- game = local_assigns.fetch(:game, nil)
- table = local_assigns.fetch(:table, nil)
- if game && game.game_over
  %h2
    Game over
  %h4
    Winners:
  %ul
    - game.winners.each_with_index do |player, index|
      %li
        = "##{index+1}-#{player.name}"
  = link_to 'Return', table_path(table)
