document.getElementById('game-over').innerHTML = "#{ j(render partial: 'game_over', locals: { game: @game, table: @round.table }) }";
document.getElementById('cards-on-table').innerHTML = "#{ j(render partial: 'cards_on_table', locals: { game: @game }) }";
-if local_assigns[:refresh_all] || @game.game_over
  document.getElementById('own-cards').innerHTML = "#{ j(render partial: 'own_cards', locals: { game: @game }) }";
