- game = local_assigns.fetch(:game, nil)
- if game && !game.game_over
  - own_player = game.active_players.find { |p| p == Current.player }
  .row.bottom-row.player-hand
    = render 'games/player/hand_cards',
        player: own_player,
        game: game,
        own_cards: true,
        orientation: :horizontal
