- game = local_assigns.fetch(:game, nil)
- if game && !game.game_over
  - own_player = game.active_players.find { |p| p == Current.player }
  .row.row-actions
    - if !own_player.ready?
      %button{ 'data-action': stimulus_actions(click: 'games#ready') }
        Ready
    -elsif own_player == game.current_player
      %button{ 'data-action': stimulus_actions(click: 'games#throwCards') }
        Throw
  .row.bottom-row.player-hand
    = render 'games/player/hand_cards',
        player: own_player,
        game: game,
        own_cards: true,
        orientation: :horizontal
  .row.name.horizontal
    = render 'games/player/name', game: game, player: own_player