document.getElementById('cards-on-table').innerHTML = "#{ j(render partial: 'cards_on_table', locals: { game: @game }) }";
document.getElementById('own-cards').innerHTML = "#{ j(render partial: 'own_cards', locals: { game: @game }) }";
