%h1 Table

%ul#players
  - @table.players.each_with_index do |player, index|
    %li= "#{player['name']} #{'(Gamemaster)' if index.zero?}"

= button_to 'Start Game', table_rounds_path(@table),
  id: :start_game_button,
  class: 'btn btn-primary',
  remote: true,
  form: { 'data-type': :json },
  data: { player: Current.player.id, disable_with: 'starting...' },
  hidden: @table.players&.first['id'] != Current.player.id
