%h1 Table

%ul#players
  - @table.players.each do |player|
    %li= player['user_name']

- unless @table.active_game&.game
  = button_to 'Start Game', table_games_path(@table), id: :start_game_button, remote: true, data: { disable_with: 'starting...' }
