// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'variables';

body{
  font-family: 'Courier New', monospace;
}
.container {
  width: $width;
  margin: auto;
}